<html>
	<head>
		<title> Acts for {{ category_name }}</title>
	</head>
	<body>
		<div class = "main">
			{% for act in acts %}
			<div class = "act">
				<p>{{ act['caption'] }}</p>
				<form action = "{{url_for('upvote_front')}}" method = "post">
					<button type = "submit" class = "funcbut" value = "{{ act['actID'] }}">Upvote</button>
				</form>
				<form action = "{{url_for('delete_front')}}" method = "post">
					<button type = "submit" class = "funcbut" value = "{{ act['actID'] }}">Delete</button>
				</form>
				<h4>{{ act['upvotes'] }}</h4>
			</div>
			{% endfor %}
		</div>
	</body>
</html>
