<html>
	<head>
		<title> Acts for {{ category_name }}</title>
	</head>
	<body>
		<div class = "main">
			{% for act in acts %}
			<div class = "act">
				<img src = "data:image/png;base64, {{act['image']}}">
				<br><br>
				<p>{{ act['caption'] }}</p>
				<br>
				<form action = "{{url_for('upvoteActFront')}}" method = "post">
					<button type = "submit" class = "funcbut" name = "submit" value = "{{ act['actId'] }}">Upvote</button>
				</form>
				<form action = "{{url_for('deleteActFront')}}" method = "post">
					<button type = "submit" class = "funcbut" name = "submit" value = "{{ act['actId'] }}">Delete</button>
				</form>
				<br>
				<h4>{{ act['upvotes'] }}</h4>
			</div>
			{% endfor %}
		</div>
	</body>
</html>
